@media screen and (max-width:899px){
  .bars,
.logo,
.pr-container {
  margin: auto 0px;
}
.bar {
  height: 2px;
  width: 20px;
  margin: 5px;
  background-color: #444;
}
.logo a{
  font-size: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #444;
  font-weight: 650;
  letter-spacing: 1px;
  text-decoration: none;
}
body {
  background-color: #444;
}
.navigation {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  height: 70px;
  background-color: #fff;
}
.pr-container {
  display: flex;
}
.pr-container div {
  display: inline-block;
  margin: 0px 7px;
}
.fa-user-circle,
.fa-bookmark,
.fa-shopping-bag,
.fa-bars {
  font-size: 17px;
  color: #444;
  cursor: pointer;
}
.fa-times{
    font-size:25px;
    color: #444;
    cursor: pointer; 
}
.times_div{
    padding:5px  10px;
    position: absolute;
    right:0;
    margin:20px;
    background-color: #fff;
    border-radius:50%;
}
.nav {
  height: 450px;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #fff;
  width: 100%;
  border-bottom-right-radius: 5px;
}
.offer {
  height: 200px;
  background-color: yellowgreen;
}
.menu-link {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  font-size: 15px;
  margin: 10px 0px;
  letter-spacing: 1px;
  padding-left: 20px;
}

}